.categoryheader
  width: 80%
  margin-left: 10%
  @include default-color
  height: 60px
  font-size: 16px
  padding: 18px 0px 0px 32px

  
.categoryheader__name
  text-decoration: none
  @include default-font(16px)
  color: white
  