.block
	display: flex
	// remove this
 


@font-face
  font-family: Bebas
  src: url(../fonts/BEBAS.ttf)
  
@font-face
  font-family: HelveticaNeue
  src: url(../fonts/HelveticaNeue.ttf)
  

=default-font($deffont)
  font-family: Bebas
  color: rgb(232, 96, 60)
  font-size: $deffont
  
=default-color
  background-color: #e8603c
  
=default-color-light
  background-color: #f3af9d
  
body
  font-family: HelveticaNeue, sans-serif   
  color: rgb(65, 65, 65)
  
h4
  @include default-font(18px)
  text-align: left
  line-height: 1
  font-weight: 100
  margin-bottom: 12px
  margin-top: 12px
 
h5
  @include default-font(14px)
  text-align: left
  line-height: 1
  font-weight: 100
  padding-bottom: 4px
  
p
  padding-bottom: 4px
