<div class="wrap">
    <div class="postsarea">
        <div class="postsarea__post">

            <img class="postsarea__img" src="img/slider.png" alt="slider">
                <div class="wrap">    
                    <div class="postsarea__stats">
                        <div><h5>Date</h5> April 15, 2012</div>
                        <div><h5>Tags</h5> Website | Design</div>
                        <div><h5>Comments</h5> 4</div>
                    </div>
                    <div class="postsarea__text">
                        <h4>Top  WordPress  Themes  of  2012</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptate quibusdam esse. Aliquam aperiam praesentium consectetur repellat, quisquam similique repellendus provident, possimus. Accusantium, soluta, ducimus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, voluptatibus velit magni.</p>
                    </div>
                </div>
        </div>

        <div class="postsarea__post">

            <img class="postsarea__img" src="img/post-img.png" alt="post-img">
                <div class="wrap">    
                    <div class="postsarea__stats">
                        <div><h5>Date</h5> April 15, 2012</div>
                        <div><h5>Tags</h5> Website | Design</div>
                        <div><h5>Comments</h5> 4</div>
                    </div>
                    <div class="postsarea__text">
                        <h4>Jesus  Typography  Wallpaper  Giveaway!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptate quibusdam esse. Aliquam aperiam praesentium consectetur repellat, quisquam similique repellendus provident, possimus. Accusantium, soluta, ducimus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, voluptatibus velit magni.</p>
                    </div>
                </div>
        </div>

        <div class="postsarea__post">
           <blockquote class="postsarea__postquote">
               <p><img src="img/quotered.png" alt="">Write anything you want here in this quotable area. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere odio veniam dolores voluptatum eos ullam labore eveniet, illum provident est ab nisi, assumenda molestiae rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, aliquam sapiente iusto hic voluptatem beatae animi officia voluptates mollitia saepe!</p>
           </blockquote>
        </div>


    </div>
    <div class="aside">
        blabla
    </div>
</div>


