
<div class="wrap">
    <div class="postsarea">
        <div class="postsarea__post">
            <img class="postsarea__img" src="img/slider.png" alt="slider">
            <div class="postsarea__stats">
                <h5>blablabla</h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, velit.
            </div>
            <h4>Top  WordPress  Themes  of  2012</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptate quibusdam esse. Aliquam aperiam praesentium consectetur repellat, quisquam similique repellendus provident, possimus. Accusantium, soluta, ducimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, voluptatibus velit magni.</p>
        </div>
    </div>
    <div class="aside">
        blabla
    </div>
</div>


